* {
  box-sizing: border-box;
  font-family: 'Helvetica';
}

.ratings-container {
  width: '50%';
  margin-left: '25%';
  color: 'black';
  font-size: '20px';
  padding: '25px';
  text-align: 'center';
  font-family: 'Helvetica';
}

.transcription-container {
  width: '50%';
  color: 'black';
  font-size: '20px';
  padding: 50px;
  border: 1px solid #ccc;
  text-align: 'center';
  font-family: 'Helvetica';
  margin: 25px auto;
  background-color: #f7f7f7;
}

li {
  list-style: none;
  background-color: #f7f7f7;
  padding: 25px;
  border: 1px solid #ccc;
  width: 25%;
  height: 100px;
  text-align: center;
}

li span {
  display: block;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
